body, html, form {
    font-family: "Segoe UI", "Arial";
    font-size: 12pt;
    background: black;
}

ul {
    list-style-type: none;
}

li {
    font-size: 24pt;
}


#bg {
		position:fixed;
		top:-50%;
		left:-50%;
		width:200%;
		height:200%;
}
#bg img {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		min-width:50%;
		min-height:50%;
}

#page-wrap {
    position: relative;
    z-index: 3;
    /* width: 800px; */
    /* margin: 50px auto; */
    /* padding: 20px; */
    background: black;
}

#titlebox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    z-index: 2;
    width: 500px;
    /* margin: 50px auto; */
    padding: 20px;
    background: white;
    text-align: center;
}

#targettext {
    min-height: 550px;
    height: auto !important;
    height: 550px;
    word-wrap: normal;
}
