body, html, form {
    font-family: "Segoe UI", "Arial";
    font-size: 16px;
    background: black;
}

span {
    font-size: 12px;
    font-weight: 900;
    white-space: normal;
    /* color: #000000; */
    color: blue;
    display: block;
    padding: 10px;
    float: left;
    word-wrap: break-word;
}

#targettext {
    word-wrap: break-word;
    align: center;
}

#infobox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    z-index: 999;
    width: 500px;
    padding: 20px;
    background: white;
    text-align: center;
}

#debugbox {
    position: fixed;
    top: 75%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    z-index: 999;
    width: 500px;
    padding: 20px;
    background: white;
    text-align: center;
    opacity: 0.75;
    display: none; /* off by default, only display if requested */
}
