body, html, form {
    font-family: "Segoe UI", "Arial";
    font-size: 12pt;
    background: blue;
    color: yellow;
    overflow: hidden;
}

#content {
    /* width: 100%; */
    height: 100%;
    text-align: justify;
}

#content p {
    color: yellow;
    background: crimson;
    padding: 5px;
    float: left;
    margin: 0 5px 10px 0;
    font-weight: 700;
    font-size: 16pt;
}


#content span {
    color: yellow;
    background: crimson;
    padding: 5px;
    line-height: 50px;
    font-weight: 700;
    font-size: 16pt;
}

#content > span.active {
    color: yellow;
}

#holding {
    display: none;
}


#infobox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    z-index: 999;
    width: 500px;
    padding: 20px;
    background: white;
    text-align: center;
    color: black;
}

/* this can scroll off the bottom in small displays.... */
#debugbox {
    position: fixed;
    top: 75%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    z-index: 999;
    width: 500px;
    padding: 20px;
    background: white;
    text-align: center;
    opacity: 0.75;
    display: none; /* off by default, only display if requested */
}

#description {
    color: #000;
    text-align: center;
    z-index: 999;
    max-width: 500px;
}


#info {
    z-index: 999;
    display: block;
    position: absolute;
    bottom: -130px;
    background: white;
    color: black;
    width: 100%;
    padding: 20px;
    opacity: 0;
    margin-left: -10px; /* that's weird. it's offset by 10px in FF, Chorme, IE. Do I need a css-reset? */
}
