body, html, form {
    font-family: "Segoe UI", "Arial";
    font-size: 12pt;
    background: black;
    overflow: hidden;
}


#content > h1 {
    color: #FFFFFF;
}


#infobox {
    position: fixed;
    top: 75%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    z-index: 999;
    width: 500px;
    padding: 20px;
    background: white;
    text-align: center;
}

/* without this, centering fails */
pre {
    /* float: left; */
    /* margin: 20px; */
    font-size: 36px;
    width: 375px;
}

#displayarea {
    width: 280px;
    height: 200px;
    line-height: 150px;
}

#displayarea .largelett{

    font-size: 144px;
    color: white;
    display: block;
    width: 140px;

}

.left {
    float: left;
}

.right {
    float: right;
}
.lowerleft {
    clear: both;
}
