body, html, form {
    font-family: "Segoe UI", "Arial";
    font-size: 12pt;
    background: black;
    overflow: hidden;
}


#targettext {
    /* margin-top: -50px; */
    position: absolute;
    width: 550px;
    z-index: 900;
    padding: 20px;
    background: white;
    font-family: Monospace;
}

#targettext #texts div {
    float: left;
}

#left {
    margin-left: 40px;
    /* ugh. I hate hard-coding this sort of thing
       But I haven't been able to get centering to work...
   */
}

#center {

    font-family: Monospace;
    /* the <pre> tags have a 16px top margin, from somewhere.... */
    /* margin-top: 16px; */
    margin: 0 30px 0 30px;
}

#right {
    /* nothing to see here.... */
}


#description {
    max-width: 500px;
}


#infobox {
    z-index: 999;
    display: block;
    position: absolute;
    bottom: -130px;
    background: white;
    width: 100%;
    padding: 20px;
    opacity: 0;
    margin-left: -10px; /* that's weird. it's offset by 10px in FF, Chorme, IE. Do I need a css-reset? */
}
