body, html, form {
    font-family: "Segoe UI", "Arial";
    font-size: 12pt;
    background: black;
    overflow: hidden;
}


#content > h1 {
    color: #FFFFFF;
    font-size: 64pt;
    text-align: center;
}


#infobox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    z-index: 999;
    width: 500px;
    padding: 20px;
    background: white;
    text-align: center;
}

